/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 700px;
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

/*Imagenes*/
.card img {
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.card img:hover {
    transform: scale(1.05);
}
/*Galeria*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    max-width: 200px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de editar */
.btn-warning {
    background-color: #28d9f0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-warning:hover {
    background-color: #3eaebd;
    transform: translateY(-2px);
}

.btn-warning:active {
    background-color: #4899a3;
    transform: translateY(2px);
}
